<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Predicting Changes in the Fed Rate</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

  <!-- Load d3.js -->
  <script src="https://d3js.org/d3.v4.js"></script>
</head>

<body>
  <nav class="white" role="navigation">
  </nav>
  <div id="index-banner" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container"><br><br>
        <div class="row center">
          <h2 class="header center teal-text">Predicting Changes in the Fed Rate</h2>
          <h5 class="header col s12 teal-text">Can common economic indicators predict the Fed Rate changing?</h5>
        </div><br><br>
      </div>
    </div>
    <div class="parallax"><img src="static/images/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>

  c
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m3 center-align">
          <!--   Dropdown   -->
          <div class="input-field col s12">
            <select id="selected_model" onChange="inputChangeModelType(event)">
              <option value="" disabled selected>Model</option>
              <option value="LR">Logistic Regression</option>
              <option value="KNN">K-Nearest Neighbours</option>
              <option value="CART">Decision Tree</option>
              <option value="NB">Gaussian Naive Bayes</option>
              <option value="SVN">Support Vector Machine</option>
              <option value="naive_NN">Naive Neural Network</option>
              <option value="LSTM">Reccurent Neural Network (LSTM)</option>
            </select>
            <label>Selected model</label>
          </div>
        </div>

        <div class="col m3 center-align">
          <!--   Dropdown   -->
          <div class="input-field col s12">
            <select id="selected_month" onChange="inputChangeMonth(event)">
              <option value="" disabled selected>Month</option>
              <option value="1">January</option>
              <option value="2">February</option>
              <option value="3">March</option>
              <option value="4">April</option>
              <option value="5">May</option>
              <option value="6">June</option>
              <option value="7">July</option>
              <option value="8">August</option>
              <option value="9">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
            <label>Selected Month</label>
          </div>
        </div>

        <div class="col m3 center-align">
          <!--   Dropdown   -->
          <div class="input-field col s12">
            <select id="selected_day" onChange="inputChangeDay(event)">
              <option value="" disabled selected>Day</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
            </select>
            <label>Selected Day</label>
          </div>
        </div>

        <div class="col m3 center-align">
          <!--   Dropdown   -->
          <div class="input-field col s12">
            <select id="selected_year" onChange="inputChangeYear(event)">
              <option value="" disabled selected>Year</option>
              <option value="2003">2003</option>
              <option value="2004">2004</option>
              <option value="2005">2005</option>
              <option value="2006">2006</option>
              <option value="2007">2007</option>
              <option value="2008">2008</option>
              <option value="2009">2009</option>
              <option value="2010">2010</option>
              <option value="2011">2011</option>
              <option value="2012">2012</option>
              <option value="2013">2013</option>
              <option value="2014">2014</option>
              <option value="2015">2015</option>
              <option value="2016">2016</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
            </select>
            <label>Selected Year</label>
          </div>
        </div>
        <div class="row center-align">
          <h7 class="center teal-text">Select from the menus above then hit submit to visualize the model below:</h7>
          <br><br>
          <button class="btn waves-effect waves-light" type="submit" name="action" onClick="returnData(event)">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>


      </div>

      <div class="row">
        <div class="col m6 center-align">
          <h5 class="center teal-text">Rate from Selected and Previous Day</h5>
          <div id="chart"></div>
          <script type="text/javascript" src="/static/js/app.js"></script>
        </div>

        <div class="col m6 center-align">
          <h5 class="center teal-text">Model Prediction Probability</h5>
          <div id="chart2"></div>
          <script type="text/javascript" src="/static/js/app.js"></script>
        </div>

      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="container">
    <div class="row">
      <div class="col m6 responsive-table table-status-sheet">
        <table class="bordered">
          <thead>
            <h5 class="center teal-text">Recent Rate Changes from the Fed</h5>
            <tr>
              <th class="center">Date</th>
              <th class="center">Change in Rate (%)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>December 17, 2015</td>
              <td>0.25-0.50</td>
            </tr>
            <tr>
              <td>December 15, 2016</td>
              <td>0.50-0.75</td>
            </tr>
            <tr>
              <td>March 16, 2017</td>
              <td>0.75-1.00</td>
            </tr>
            <tr>
              <td>June 15, 2017</td>
              <td>1.00-1.25</td>
            </tr>
            <tr>
              <td>December 14, 2017</td>
              <td>1.25-1.50</td>
            </tr>
            <tr>
              <td>March 22, 2018</td>
              <td>1.5-1.75</td>
            </tr>
            <tr>
              <td>June 14, 2018</td>
              <td>1.75-2.00</td>
            </tr>
            <tr>
              <td>September 27, 2018</td>
              <td>2.00-2.25</td>
            </tr>
            <tr>
              <td>December 20, 2018</td>
              <td>2.25-2.50</td>
            </tr>
          </tbody>
        </table>
      </div>


      <div class="col m6">
        <h5 class="center teal-text">Average yearly Rate since 2003</h5>
        <div class="center" id="line">
          <!--Line Chart of historical Rates-->
        </div>
      </div>
    </div>
  </div>



  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light ">Resources</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="static/images/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col m6 center">
          <h4>Model Descriptions</h4>
          <h6>Please click to learn more about each model:</h6>
          <ul>
            <li><a href="https://www.youtube.com/watch?v=7qJ7GksOXoA" , target="blank_">Logistic Regression</a></li>
            <li><a href="https://www.youtube.com/watch?v=MDniRwXizWo" , target="blank_">K-Nearest Neighbours</a></li>
            <li><a href="https://www.youtube.com/watch?v=DCZ3tsQIoGU" , target="blank_">Decision Tree</a></li>
            <li><a href="https://www.youtube.com/watch?v=CPqOCI0ahss" , target="blank_">Gaussian Naive Bayes</a></li>
            <li><a href="https://www.youtube.com/watch?v=Y6RRHw9uN9o" , target="blank_">Support Vector Machine</a>
            </li>
            <li><a href="https://www.youtube.com/watch?v=GQVLl0RqpSs" , target="blank_">Naive Neural Network</a></li>
            <li><a href="https://www.youtube.com/watch?v=2GNbIKTKCfE" , target="blank_">Reccurent Neural Network
                (LSTM)</a></li>
          </ul>
        </div>

        <div class="col m6 center">
          <h4>Metric Descriptions</h4>
          <p>The metrics are 48 economic indicators pulled from a Federal Reserve Economic Data API (FRED). The api is
            available through <a href="https://www.quandl.com/data/FRED-Federal-Reserve-Economic-Data/documentation" ,
              target="blank_">
              Quandl.</a> The economic indicators are broken down into various categories corresponding to Growth,
            Price
            and
            Inflation, Money Supply, Interest Rates, Employment, Income and Expendeture, Debt, and a few other
            non-categorized economic indicators.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Model Efficiency and Conclusions</h4>
          <p class="center-align">The models were trained to predict the change in interest rates between dates in
            2003 through about May of 2019. Between years 2003 and 2009 the models did a better job correctly predicting
            the change in interest rate. After
            2009 the interest rates were essentially held flat so the models will predict that the interest rates
            stay the same regardless of other factors. It would be difficult to improve the accuracy of the models
            further because in
            the entire dataset there are so many more days that the interest rate stays flat than changes.</p>
          <p class="center-align">In conclusion it is interesting that the models are more accurate before the
            recession of 2007 - 2009. The implication is that before the recession the Fed may have been making their
            decision to raise or lower rates based on economic indicators like the models were trained on. After the
            recession and
            quantitative easing was introduced to keep rates artificially low the model struggles to continue to predict
            accurately.
          </p>
        </div>
      </div>


    </div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">View Project on Github</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/DataNoob0723/interest_rate_analysis", target="blank_">Github</a></li>
          </ul>
        </div>

      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Project Created by:
        <!-- Github link -->
        <a class="brown-text text-lighten-3" href="https://github.com/DataNoob0723", target="blank_">Zeyu</a>
        <a class="brown-text text-lighten-3" href="https://github.com/burdickr", target="blank_">Ryan</a>
        <a class="brown-text text-lighten-3" href="https://github.com/realJDD", target="blank_">Jesse</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>
  <script src="static/js/app.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>



  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.dropdown-trigger');
      var instances = M.Dropdown.init(elems);
    });
    // Or with jQuery
    $('.dropdown-trigger').dropdown();
  </script>

  <script>
    const Calender = document.querySelector('.datepicker');
    M.Datepicker.init(Calender, {});
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems);
    });
    // Or with jQuery
    $(document).ready(function () {
      $('select').formSelect();
    });
  </script>

  <!-- print selected input value for date to console -->


  <!-- print selected input value for model type to console -->


</body>

</html>